@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

h1,
h2 {
  font-weight: 600;
}

p,
ul {
  font-size: 18px;
  line-height: 1.5;
}

.content-container {
  padding: 100px 200px;
  margin: auto;
  width: 100%;
  max-width: 1440px;

  .autodevops-animation-container {
    display: flex;
    background-color: $color-white;
    height: 511px;
    max-width: 1039px;
    overflow: hidden;
    border-radius: $border-radius-large;
    box-shadow: 0 2px 4px $color-transparent-alt;

    @media all and (max-width: $screen-sm-min) {
      display: none;
    }

  }

  .autodevops-animation {
    margin: auto;
    width: 100%;
    object-fit: cover;
  }

  .step-link {
    white-space: nowrap;
  }

  .auto-devops-links {
    margin-top: 100px;
  }

  .arrow-container {
    margin-top: 100px;
    width: 100%;
    height: 60px;
    border-radius: $border-radius-circle;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .autodevops-step-icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .step-icon {
      padding: 10px;
      opacity: .2;

      svg {
        height: 20px;
        fill: $color-primary;
      }

      path {
        fill: $color-primary;
      }

      &:not(:last-child) {
        margin-right: 10px;

        @media all and (max-width: $screen-sm-min) {
          margin-right: 0;
        }

      }

      @media all and (max-width: $screen-sm-min) {
        padding: 6px;
      }

    }

    .left-arrow {
      transform: rotateY(180deg);
    }

    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 40px;
      cursor: pointer;

      &:hover {
        opacity: .6;
      }

      @media all and (max-width: $screen-sm-min) {
        display: none;
      }

    }

    svg {
      height: 12px;
      width: 18px;
    }

    @media all and (max-width: $screen-sm-min) {
      justify-content: center;
    }

  }

  .autodevops-steps-container {
    width: 100vw;
    overflow-x: scroll;
    transform: translatex(-200px);
    padding: 40px;
    padding-top: 10px;
    -webkit-overflow-scrolling: touch;

    .step {
      min-width: 540px;
      margin-right: 40px;

      h2 {
        user-select: none;
      }

      svg {
        height: 40px;
      }

      path {
        fill: $color-primary;
      }

    }

    @media all and (max-width: $screen-lg-min) {
      transform: translatex(-100px);
    }

    @media all and (max-width: $screen-sm-min) {
      transform: translatex(-20px);
      padding: 20px;
    }

  }

  .prereq {
    display: flex;
    width: 100%;
    margin-top: 100px;

    div:last-child {
      padding: 0 60px;

      @media all and (max-width: $screen-sm-min) {
        padding: 0;
        padding-top: 30px;
      }

    }

    h2 {
      margin-top: 0;
    }

    &:nth-child(odd) {

      div:first-child {
        order: 2;

        @media all and (max-width: $screen-sm-min) {
          order: 0;
        }

      }

    }

    @media all and (max-width: $screen-sm-min) {
      flex-wrap: wrap;
    }

  }

  .btn {
    margin: 0;
    margin-top: 30px;
    font-weight: 400;
    padding: 4px 30px;
    font-size: 18px;

    @media all and (max-width: $screen-sm-min) {
      margin-top: 20px;
    }

  }

  .prereq-image {
    border-radius: $border-radius-large;
    border: 6px solid $color-white;
    box-shadow: 0 2px 4px $color-transparent-alt;
    width: 100%;
  }

  .content:not(:first-child) {
    margin-top: 100px;

    @media all and (max-width: $screen-sm-min) {
      margin-top: 50px;
    }

  }

  @media all and (max-width: $screen-lg-min) {
    padding: 100px;
  }

  @media all and (max-width: $screen-sm-min) {
    padding: 50px 20px;
  }

}
